/*
 * SPDX-License-Identifier: MIT
 *
 * Copyright 2021 Jeremy A Gray <gray@flyquackswim.com>.
 */

.AppLogout {
}

#logoutFormSubmit {
    color: #ffffff;
    background-color: #b20021;
}

#logoutFormSubmit:hover {
    background-color: #ffffff;
    color: #b20021;
}
